@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 2.2rem;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}

body a {
  color: inherit;
  text-decoration: none;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
  height: 90vh; /* Fixed height for the content container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.multisteps-form__form {
  height: 100%; /* Set the height of the form container */
  overflow: hidden; /* Ensure content doesn't overflow */
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: green;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto; /* Enable vertical scrolling for each panel */
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.multisteps-form__panel[data-animation="fade"] {
    -webkit-animation: fadeInRight 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fadeInRight 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.multisteps-form__panel[data-animation="fade"].js-active {
    -webkit-animation: fadeInLeft 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fadeInLeft 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*---- CUSTOM ANIMATION ----*/

.fadeInRight {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.fadeInLeft {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 12px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .section-hero {
  margin-top: 96px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 6rem;
  padding: 0 4.8rem;
  position: relative;
  opacity: 90%;
}

.logo {
  height: 2.2rem;
  margin: 0; /* Ensure no margin is added */
}

.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem; /* Keep the fixed height consistent */
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.main-nav {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
  opacity: 0; /* Hide navigation */
  pointer-events: none; /* Make it unaccessible to mouse and keyboard */
  visibility: hidden; /* Hide it from screen readers */
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}
.progress-container {
  margin-top: 3rem;
  background-color: hsl(0, 0%, 100%); /* Orange color */
  border-radius: 12px; /* Rounded corners */
  padding: 20px; /* Padding around the content */
  opacity: 60%;
}

.multisteps-form__progress {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 10px; /* Space between buttons */
}

.multisteps-form__progress-btn {
  transition: all 0.15s linear;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  transform: translateX(-50%);
  transition: all 0.15s linear, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4);
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}

.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition: all 0.15s linear;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
  display: none;
}

.multisteps-form__progress-btn.js-active {
  color: green;
}

.multisteps-form__progress-btn.js-active:before {
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}


.multisteps-form__progress-btn:hover {
  color: #333;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #388E3C; /* Darker Green */
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 12px;
  color: #fff;
  background-color: #4CAF50; /* Green */
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #388E3C; /* Darker Green */
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 12px;
  resize: vertical; /* Allows vertical resizing but not horizontal */
  font-size: 14px; /* Adjust the font size to be smaller */
}

input[type="text"]:focus,
textarea:focus {
  border: 2px solid #55ad4d;
  outline: none;
}

button.js-btn-next,
button.js-btn-prev {
  background-color: #4CAF50; /* Green */
  border-color: #4CAF50; /* Green */
  color: white;
  transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
}

button.js-btn-next:hover,
button.js-btn-prev:hover {
  background-color: #388E3C; /* Darker Green */
  border-color: #388E3C; /* Darker Green */
  transform: scale(1.1); /* Slightly increase size on hover */
}

#submitBtn, .btn-green {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#submitBtn:hover, .btn-green:hover {
  background-color: #388E3C; /* Darker Green */
}

body {
  background-image: url('../img/quizbg.png');
  background-size: cover; /* Ensure the background covers the entire page */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  background-attachment: fixed; /* Fix the background so it doesn't scroll with the page */
  background-position: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
}