<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bootstrap Multi Step Form | Webdevtrick.com</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../static/questions.css">
</head>
<body>

<header class="header">
  <a href="https://getpreppin.com/index.html">
    <img class="logo" alt="Preppin logo" src="img/preppin-no-bg.png" style="height: 87px; width: auto;" />
  </a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="#how">Back to Home</a></li>
    </ul>
  </nav>
</header>

    <button class="btn-mobile-nav">
      <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
  </header>
<div class="content">
  <div class="content__inner">
    <div class="container overflow-hidden">
      <div class="multisteps-form">
        <div class="row">
          <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
            <div class="progress-container">
              <div class="multisteps-form__progress">
                <button class="multisteps-form__progress-btn js-active" type="button" title="Name"></button>
                <button class="multisteps-form__progress-btn js-active" type="button" title="User Info"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Age Range"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Measurements"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Dietary Restrictions"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Diet Type"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Foods to Avoid"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Health Goals"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Activity Level"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Summarize Your Day"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Fitness Activities"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Meal Frequency"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Eating Schedule"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Meal Preferences"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Budget"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Additional Messages"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Email"></button>
                <button class="multisteps-form__progress-btn" type="button" title="Phone Number"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-8 m-auto">
            <form class="multisteps-form__form">

              <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="fade">
                <h3 class="multisteps-form__title">What is your name?</h3>
                <div class="multisteps-form__content"></br>
                  <label>Name: <input type="text" name="name" required></label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="fade">
                <h3 class="multisteps-form__title">What is your biological sex?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="radio" name="gender" value="Male"> Male</label></br>
                  <label><input type="radio" name="gender" value="Female"> Female</label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">What is your age range?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="radio" name="age" value="Under 18"> Under 18</label></br>
                  <label><input type="radio" name="age" value="18-26"> 18-26</label></br>
                  <label><input type="radio" name="age" value="27-40"> 27-40</label></br>
                  <label><input type="radio" name="age" value="40+"> 40+</label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">What are your current measurements?</h3>
                <div class="multisteps-form__content"></br>
                  <label>Height: <input type="text" name="height"></label></br>
                  <label>Weight: <input type="text" name="weight"></label></br>
                  <label>Body Fat % (Optional): <input type="text" name="bodyFat"></label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">Do you have any dietary restrictions or allergies?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="radio" name="dietary_restrictions" value="Yes"> Yes (Please specify: e.g., gluten, dairy, nuts, etc.)</label>
                  <textarea name="dietary_restrictions_details" rows="1" cols="50"></textarea></br>
                  <label><input type="radio" name="dietary_restrictions" value="No"> No</label>
                  
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">What is your preferred diet type?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="radio" name="diet_type" value="Vegetarian"> Vegetarian</label></br>
                  <label><input type="radio" name="diet_type" value="Vegan"> Vegan</label></br>
                  <label><input type="radio" name="diet_type" value="Pescatarian"> Pescatarian</label></br>
                  <label><input type="radio" name="diet_type" value="Keto"> Keto</label></br>
                  <label><input type="radio" name="diet_type" value="Paleo"> Paleo</label></br>
                  <label><input type="radio" name="diet_type" value="Mediterranean"> Mediterranean</label></br>
                  <label><input type="radio" name="diet_type" value="No Preference"> No Preference</label></br>
                  <label>Other (Please specify): <input type="text" name="diet_type_other"></label></br>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">Are there any specific foods you want to avoid?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="radio" name="foods_to_avoid" value="Yes"> Yes (Please specify: e.g., gluten, dairy, nuts, etc.)</label>
                  <textarea name="foods_to_avoid_details" rows="1" cols="50"></textarea></br>
                  <label><input type="radio" name="foods_to_avoid" value="No"> No</label>
                  
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">What are your health goals?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="checkbox" name="health_goals" value="Weight Loss"> Weight Loss</label></br>
                  <label><input type="checkbox" name="health_goals" value="Muscle Gain"> Muscle Gain</label></br>
                  <label><input type="checkbox" name="health_goals" value="Maintain Weight"> Maintain Weight</label></br>
                  <label><input type="checkbox" name="health_goals" value="Improve Endurance"> Improve Endurance</label></br>
                  <label><input type="checkbox" name="health_goals" value="Improve Flexibility"> Improve Flexibility</label></br>
                  <label><input type="checkbox" name="health_goals" value="Boost Immunity"> Boost Immunity</label></br>
                  <label><input type="checkbox" name="health_goals" value="Other"> Other (Please specify): <input type="text" name="health_goals_other"></label></br>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">What is your activity level?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="radio" name="activity_level" value="Sedentary"> Sedentary (little or no exercise)</label></br>
                  <label><input type="radio" name="activity_level" value="Lightly Active"> Lightly Active (light exercise/sports 1-3 days/week)</label></br>
                  <label><input type="radio" name="activity_level" value="Moderately Active"> Moderately Active (moderate exercise/sports 3-5 days/week)</label></br>
                  <label><input type="radio" name="activity_level" value="Very Active"> Very Active (hard exercise/sports 6-7 days a week)</label></br>
                  <label><input type="radio" name="activity_level" value="Extra Active"> Extra Active (very hard exercise/sports & physical job)</label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">Summarize your typical day</h3>
                <div class="multisteps-form__content"></br>
                  <textarea name="typical_day_summary" rows="4" cols="50"></textarea>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">What fitness activities do you currently participate in?</h3>
                <div class="multisteps-form__content"></br>
                  <textarea name="fitness_activities" rows="4" cols="50"></textarea>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">How many meals do you typically eat per day?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="radio" name="meals_per_day" value="1"> 1</label></br>
                  <label><input type="radio" name="meals_per_day" value="2"> 2</label></br>
                  <label><input type="radio" name="meals_per_day" value="3"> 3</label></br>
                  <label><input type="radio" name="meals_per_day" value="4+"> 4+</label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">Do you follow a consistent eating schedule?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="radio" name="eating_schedule" value="Yes"> Yes</label></br>
                  <label><input type="radio" name="eating_schedule" value="No"> No</label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">What are your meal preferences?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="checkbox" name="meal_preferences" value="Breakfast"> Breakfast</label></br>
                  <label><input type="checkbox" name="meal_preferences" value="Lunch"> Lunch</label></br>
                  <label><input type="checkbox" name="meal_preferences" value="Dinner"> Dinner</label></br>
                  <label><input type="checkbox" name="meal_preferences" value="Snacks"> Snacks</label></br>
                  <label><input type="checkbox" name="meal_preferences" value="Desserts"> Desserts</label></br>
                  <label><input type="checkbox" name="meal_preferences" value="Other"> Other (Please specify): <input type="text" name="meal_preferences_other"></label></br>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">What is your budget for meals per week?</h3>
                <div class="multisteps-form__content"></br>
                  <label><input type="radio" name="budget" value="Less than $50"> Less than $50</label></br>
                  <label><input type="radio" name="budget" value="$50-$100"> $50-$100</label></br>
                  <label><input type="radio" name="budget" value="$100-$200"> $100-$200</label></br>
                  <label><input type="radio" name="budget" value="$200+"> $200+</label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">Any additional messages or notes?</h3>
                <div class="multisteps-form__content"></br>
                  <textarea name="additional_messages" rows="4" cols="50"></textarea>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">Please enter your email</h3>
                <div class="multisteps-form__content"></br>
                  <label>Email: <input type="email" name="email" required></label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">Please enter your phone number</h3>
                <div class="multisteps-form__content"></br>
                  <label>Phone Number: <input type="text" name="phone" required></label>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fade">
                <h3 class="multisteps-form__title">Review and Submit</h3>
                <div class="multisteps-form__content">
                  <p>Please review your answers and submit the form.</p>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto" type="button" title="Submit" id="submit-btn">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src="js/questions.js"></script>
</body>
</html>